.contactClass {
	height: 1000px;
    width: 100%;
    text-align: center;
    float: left;
}

#contactMeHeader {
	font-size: 90px;
	font-family: 'JmonoSpaceThin', monospace;
}

h6 {
	font-size: 60px;
	margin: 50px;
}

.myInfo {
	float: right;
	font-family: 'JetBrains Mono', monospace;
}

h3 {
	font-size: 50px;
}

input, textarea {
	font-family: 'JetBrains Mono', monospace;
}

.contactMeClass {
	float: right;
	height: 700px;
	margin-right: 100px;
	text-align: center;	
	font-family: 'JetBrains Mono', monospace;
}

article {
	width: 600px;
	height: 700px;
}

#nameInput, #emailInput {
	font-size: 30px;
	border: none;
	background: none;
	border-bottom: solid  rgb(2, 112, 173) 3px;
	float: left;
	margin-left: 90px;
	padding: 20px 0px 0px 30px;
}

#nameLabel, #emailLabel {
	float: left;
	margin-left: 50px;
	font-size: 20px;
}

#questionInput {
	font-size: 15px;
	border: none; 
	background: none;
	padding: 5px;
	border: double 5px rgb(2, 112, 173);
	border-radius: 5px;
	height: 130px;
	width: 500px;
	max-width: 500px;
	max-height: 130px;
}

#questionLabel {
 	font-size: 30px;
 	float: left;
 	margin-left: 50px;
}



#submitButton {
	font-size: 20px;
	float: left;
	cursor: pointer;
	margin-left: 50px;
	background: none;
	border: none;
	height: 40px;
	width: 500px;
}

#submitButton:hover {
	transition: 0.5s;
	border: double 6px rgb(2, 112, 173);
	border-radius: 6px;
	box-shadow: 4px 6px black;
}



