@import "variables.scss";


.contactClass {
	height: 60rem;
    width: 81%;
	text-align: center;
	float: right;
}

.contactMeClass {
	display: inline-grid;
	justify-items: center;
	align-items: center;
	height: 60rem;
	width: 100%;
	text-align: center;	
	font-family: 'JetBrains Mono', monospace;
}

.contact {
	width: 100%;
	display: inline-grid;
}

#contactMeHeader {
	margin-top: 6rem;
	font-size: 90px;
	font-family: 'JmonoSpaceThin', monospace;
	width: 80%;
	text-align: center;
	float: right;
}

#form {
	text-align: center;
	width: 10%;
	text-align: center;
	height: 42rem;
	width: 30rem;
	border: solid 10px black;
}

#contactMeClass {
	z-index: -2;
	margin: 0;
	margin-top: 12rem;
	text-align: center;
	
}

h6 {
	font-size: 60px;
	margin: 30px;
}

h3 {
	font-size: 50px;
}

input, textarea {
	font-family: 'JetBrains Mono', monospace;
}

article {
	height: 42rem;
	width: 30rem;
}

#nameInput, #emailInput {
	float: right;
	height: 30px;
	font-size: 20px;
	border: none;
	background: none;
	border: solid black 2px;
	float: left;
	margin: 20px 0px 0px 30px;
	border-radius: 9px;
}

#nameLabel, #emailLabel {
	float: left;
	margin-left: 50px;
	font-size: 20px;
	margin-top: 4rem;
}

#questionInput {
	font-size: 15px;
	border: none; 
	background: none;
	padding: 5px;
	border: solid 2px black;
	border-radius: 5px;
	height: 6rem;
	width: 500px;
	max-width: 400px;
	max-height: 130px;
	margin-top: 9px;
}

#smallForm {
	border: double 10px rgb(26, 7, 94);
	width: 19rem;
	text-align: center;
}

 #formHeader {
	 text-align: center;
	 font-size: 30px;
 }

.contactBackground {
	height: 60rem;
    width: 81%;
	text-align: center;
	float: right;
	background: linear-gradient(to right, #eaf0f6  1%, $lightBlue 20%, $turq 100%);
	position: absolute;
	z-index: -5;
	opacity: 0.6;
}

#questionLabel {
 	font-size: 23px;
 	float: left;
	 margin-left: 50px;
	 margin-top: 13px;
}

#submitButton {
	font-size: 20px;
	text-align: center;	
	cursor: pointer;
	background: none;
	border: none;
	height: 40px;
	width: 369px;
	border: solid 2px black;
	border-radius: 6px;
}

#submitButton:hover {
	border: solid 2px black;
    transition: 0.9s;
    border-radius: 6px;
    box-shadow: 4px 6px black;
}

h6 {
	font-size: 49px;
}

@media only screen and (max-width: $small-width) {
	.contactMeClass {
		width: 90%;
	}
}

@media only screen and (max-width: $tooSmall-width) {
	#form {
		width: 19rem;
		text-align: center;
		margin-left: 1rem;
	}
	
	#nameInput {
		height: 30px;
		font-size: 20px;
		border: none;
		background: none;
		border: solid  black 2px;
		border-radius: 9px;
	}
	
	 #emailInput {
		height: 30px;
		font-size: 20px;
		border: none;
		background: none;
		border: solid  black 2px;
		border-radius: 9px;
	 }
	
	 #formHeader {
		 text-align: center;
		 font-size: 30px;
	 }
	
	#nameLabel {
		font-size: 20px;
	}
	
	#emailLabel {
		font-size: 20px;
	}
	
	#questionInput {
		font-size: 15px;
		border: none; 
		background: none;
		border: solid 2px black;
		border-radius: 5px;
		height: 6rem;
		width: 15rem;
		max-width: 230px;
		max-height: 100px;
	}
	
	#questionLabel {
		 font-size: 20px;
	}
	
	#submitButton {
		font-size: 20px;
		cursor: pointer;
		background: none;
		border: none;
		height: 40px;
		width: 230px;
		border: solid 2px black;
		border-radius: 6px;
	}
}