.contactClass {
	
	height: 60rem;
    width: 100%;
    text-align: center;
}


#contactMeHeader {
	margin-top: 6rem;
	font-size: 90px;
	font-family: 'JmonoSpaceThin', monospace;
	width: 80%;
	text-align: center;
	
	float: right;
}


.smallContact {
	text-align: center;

}

#form {
	text-align: center;
	margin: 0;
	margin-left: -9em;
	width: 80%;
	text-align: center;
	height: 33rem;
	width: 30rem;
	
	border: double 10px rgb(26, 7, 94);
}

#contactMeClass {
	z-index: -2;
	margin: 0;
	margin-top: 12rem;
	text-align: center;
	padding-left: 13rem;
}

h6 {
	font-size: 60px;
	margin: 30px;
}

h3 {
	margin-left: 3rem;
	font-size: 50px;
}

input, textarea {
	font-family: 'JetBrains Mono', monospace;
}

.contactMeClass {
	float: right;
	height: 560px;
	margin-right: 100px;
	text-align: center;	
	font-family: 'JetBrains Mono', monospace;
}

article {
	width: 600px;
	height: 500px;
}

#nameInput, #emailInput {
	float: right;
	height: 30px;
	font-size: 20px;
	border: none;
	background: none;
	border: solid  rgb(2, 112, 173) 3px;
	float: left;
	margin-left: 90px;
	margin: 20px 0px 0px 90px;
	border-radius: 9px;
}

#nameLabel, #emailLabel {
	float: left;
	margin-left: 50px;
	font-size: 20px;
	margin-top: 4rem;
}

#questionInput {
	font-size: 15px;
	border: none; 
	background: none;
	padding: 5px;
	border: double 5px rgb(2, 112, 173);
	border-radius: 5px;
	height: 6rem;
	width: 500px;
	max-width: 400px;
	max-height: 130px;
}

#smallForm {
	border: double 10px rgb(26, 7, 94);
	margin-left: 6rem;
	width: 23rem;
	float:right;
	text-align: center;
}

#nameInput2 {
	height: 30px;
	font-size: 20px;
	border: none;
	background: none;
	border: solid  rgb(2, 112, 173) 3px;
	border-radius: 9px;
}

 #emailInput2 {
 	height: 30px;
	font-size: 20px;
	border: none;
	background: none;
	border: solid  rgb(2, 112, 173) 3px;
	border-radius: 9px;
	
 }

 #formHeader {
	 margin-right: 1rem;
 }

#nameLabel2 {
	
	font-size: 20px;
}

#emailLabel2 {
	
	font-size: 20px;
}

#questionInput2 {
	
	font-size: 15px;
	border: none; 
	background: none;
	border: double 5px rgb(2, 112, 173);
	border-radius: 5px;
	height: 6rem;
	width: 15rem;
	max-width: 300px;
	max-height: 130px;
}

#questionLabel2 {
 	font-size: 20px;
}

#submitButton2 {
	font-size: 20px;
	cursor: pointer;
	
	background: none;
	border: none;
	height: 40px;
	width: 300px;
}

#submitButton2:hover {
	border: solid 1px rgb(9, 160, 77);
    transition: 0.9s;
    border-radius: 6px;
    box-shadow: 4px 6px #0270ad;
}


.contactBackground {
	margin-top: -13rem;
	margin-left: -6rem;
	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1) skew(10deg);
	position: absolute;
	background: linear-gradient(to left, #eaf0f6  1%,rgb(200, 242, 255) 20%, #51fcc0 100%);
	height: 60rem;
	width: 47rem;
	border-radius: 30px;
	z-index: -5;
	opacity: 0.6;
}

#questionLabel {
 	font-size: 30px;
 	float: left;
 	margin-left: 50px;
}

#submitButton {
	font-size: 20px;
	text-align: center;	
	cursor: pointer;
	background: none;
	border: none;
	height: 40px;
	width: 369px;

}

#submitButton:hover {
	border: solid 1px rgb(3, 39, 117);
    transition: 0.9s;
    border-radius: 6px;
    box-shadow: 4px 6px #0270ad;
}

.contactBackground {
	margin-left: 3rem;
}


#inputBackground {
	margin-top: -13rem;
	margin-left: 6rem;
	-webkit-transform: scaleX(-1);
  	transform: skew(10deg);
	position: absolute;
	background: linear-gradient(to right, #eaf0f6  1%,rgb(200, 242, 255) 20%, #51fcc0 100%);
	height: 60rem;
	width: 30rem;
	border-radius: 30px;
	z-index: -2;
	opacity: 0.5;
}

#title {
	text-align: center;
	margin-left: 9rem;
	margin-top: 8rem;
	width: 100%;
	font-size: 60px;
	transform: skew(10deg);
}


h6 {
	font-size: 49px;
}