.contactClass {
	margin-left: 13rem;
	height: 73rem;
    width: 100%;
    text-align: center;
	float: right;
}


#contactMeHeader {
	margin-top: 9rem;
	font-size: 90px;
	font-family: 'JmonoSpaceThin', monospace;
}


.smallContact {
	text-align: center;
	margin-left: 60rem;
}

#form {
	text-align: center;
	margin: 0;
	margin-left: 8rem;
	border: 2px solid black;
	height: 43rem;
	width: 30rem;
	border-radius: 36px;
	border: double 10px rgb(26, 7, 94);
}

#myInfo2 {
	z-index: -2;
	margin: 0;
	margin-top: 15rem;
	text-align: center;	
	padding-left: 6rem;
}

#contactMeClass {
	z-index: -2;
	margin: 0;
	margin-top: 12rem;
	text-align: center;
	padding-left: 13rem;
}

h6 {
	font-size: 60px;
	margin: 30px;
}

.myInfo {
	text-align: center;
	float: right;
	font-family: 'JetBrains Mono', monospace;
}

h3 {
	margin-left: 3rem;
	font-size: 50px;
}

input, textarea {
	font-family: 'JetBrains Mono', monospace;
}

.contactMeClass {
	float: right;
	height: 560px;
	margin-right: 100px;
	text-align: center;	
	font-family: 'JetBrains Mono', monospace;
}

article {
	width: 600px;
	height: 500px;
}

#nameInput, #emailInput {
	height: 30px;
	font-size: 20px;
	border: none;
	background: none;
	border: solid  rgb(2, 112, 173) 3px;
	float: left;
	margin-left: 90px;
	margin: 20px 0px 0px 90px;
	border-radius: 9px;
}

#nameLabel, #emailLabel {
	float: left;
	margin-left: 50px;
	font-size: 20px;
}

#questionInput {
	font-size: 15px;
	border: none; 
	background: none;
	padding: 5px;
	border: double 5px rgb(2, 112, 173);
	border-radius: 5px;
	height: 6rem;
	width: 500px;
	max-width: 400px;
	max-height: 130px;
}

#nameInput2 {
	height: 30px;
	font-size: 20px;
	border: none;
	background: none;
	border: solid  rgb(2, 112, 173) 3px;
	border-radius: 9px;
}

 #emailInput2 {
 	height: 30px;
	font-size: 20px;
	border: none;
	background: none;
	border: solid  rgb(2, 112, 173) 3px;
	border-radius: 9px;
	margin-left: 3rem;
 }

#nameLabel2 {
	margin-left: -9rem;
	font-size: 20px;
}

#emailLabel2 {
	margin-left: -6rem;
	font-size: 20px;
}

#questionInput2 {
	margin-left: 9rem;
	font-size: 15px;
	border: none; 
	background: none;
	border: double 5px rgb(2, 112, 173);
	border-radius: 5px;
	height: 6rem;
	width: 15rem;
	max-width: 300px;
	max-height: 130px;
}

#questionLabel2 {
 	font-size: 20px;
}

#submitButton2 {
	font-size: 20px;
	cursor: pointer;
	margin-left: 9rem;;
	background: none;
	border: none;
	height: 40px;
	width: 300px;
}

#submitButton2:hover {
	transition: 0.4s;
	border: double 6px rgb(2, 112, 173);
	border-radius: 6px;
	box-shadow: 4px 6px black;
}


.contactBackground {
	margin-top: 2rem;
	margin-left: -6rem;
	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1) skew(10deg);
	position: absolute;
	background-color: lightblue;
	height: 39rem;
	width: 43rem;
	border-radius: 30px;
	z-index: -5;
}

#questionLabel {
 	font-size: 30px;
 	float: left;
 	margin-left: 50px;
}

#submitButton {
	font-size: 20px;
	text-align: center;	
	cursor: pointer;
	background: none;
	border: none;
	height: 40px;
	width: 369px;

}

#submitButton:hover {
	border: solid 1px rgb(3, 39, 117);
    transition: 0.9s;
    border-radius: 6px;
    box-shadow: 4px 6px #0270ad;
    color: black;
}

.contactBackground {
	margin-left: 3rem;
}


#inputBackground {
	margin-top: -3rem;
	margin-left: 3rem;
	-webkit-transform: scaleX(-1);
  	transform: skew(10deg);
	position: absolute;
	background-color: lightgreen;
	height: 45rem;
	width: 30rem;
	border-radius: 30px;
	z-index: -2;
	opacity: 0.5;
}

#title {
	text-align: center;
	margin-left: 9rem;
	margin-top: 8rem;
	width: 100%;
	font-size: 60px;
	transform: skew(10deg);
}


h6 {
	font-size: 49px;
}