.footerClass {
	background: linear-gradient(to left, green 1%,lightgreen 30%, white 80%);
	border-top: double 10px green;
	height: 300px;
    width: 100%;
    text-align: center;
    float: left;
}

#footerHeader {
	z-index: 5;
	float: right;
	color: black;
	font-size: 30px;
	font-family: 'Bungee Outline', monospace;
	margin: 90px 10px 0px 0px;
}



