.footerClass {
	margin-top: 3rem;
	background: linear-gradient(to bottom, rgb(252, 141, 141) 1%,rgb(238, 144, 144) 20%, white 80%);
	border-bottom: double 10px rgb(128, 0, 0);
	border-top: solid 10px rgb(80, 0, 0);
	height: 30rem;
    width: 100%;
    text-align: center;
    float: right;
	margin-left: 3rem;
}

#footerTitle {
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-size: 50px;
	width: 80%;
	margin-left: 3rem;
	position: relative;
	text-align: center;
	float: right;
}

.footerGrid {
	display: inline-grid;
	padding: 0px;
	text-align: center;
	padding-top: 1rem;
	z-index: 0;
	grid-template-columns: auto auto auto;
	grid-column-gap: 1rem;
	transition: 0.9s;
	width: 80%;
	position: relative;
	float: right;

}

span {
	height: 4rem;
	width: 12rem;
	border: double 2px black;
	border-radius: 6px;
	font-size: 23px;
	text-align: center;
	
}

#span3 {
	height: 5rem;
}

span:hover {
	transition: 0.5s;
	border: solid 6px black;
}
