.hireMeClass {
    height: 1px;
    width: 500px;
    margin: 0px 0px 0px 500px;
    z-index: -2;
}

#hireMeButton {
	font-size: 160px;
	cursor: pointer;
	font-family: 'JetBrains Mono', monospace;
	z-index: 2;
}

#hireMeButton:hover {
	transition: 1s;
	color: rgb(112, 218, 68);
}

h1 {
	z-index: -2;
	margin: 0px;
}

h2 {
	margin: 0;
	float: right;
	font-family: 'JetBrains Mono', monospace;
	font-size: 90px;
}