.hireMeClass {
    height: 36rem;
    width: 60rem;
    margin: 0px 0px 0px 360px;
    z-index: 2;
}

#hireMeButton {
	width: 30rem;;
	font-size: 160px;
	cursor: pointer;
	font-family: 'JetBrains Mono', monospace;
	z-index: 2;
}

#hireMeButton:hover {
	transition: 1s;
	color: lightblue;
}

h1 {
	z-index: -2;
	margin: 0px;
}

h2 {
	margin: 0;
	float: left;
	font-family: 'JetBrains Mono', monospace;
	font-size: 90px;
}

#bigTitle {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
	margin-left: -6rem;
	width: 80%;
	font-size: 60px;
	transform: skew(10deg);
	float: left;
}