@import "variables.scss";

ul {
	margin: 0px;
	padding: 0px;
}

#linkL {
	width: 16%;
	display: inline-grid;
	justify-items: center;
  	align-items: center;
	grid-template-columns: auto auto auto;
	position: fixed;
	justify-content: space-evenly;
	bottom: 0;
	margin-bottom: 9px;
}

.sideBarClass {
	height: 60px;
}

#linkList {
	display: inline-grid;
	justify-items: center;
	align-items: center;

	position: fixed;
	background-color: white;
	border-right: solid 10px rgb(0, 0, 0);
	margin: 0px;
	padding: 0px;
	height: 100%;
	text-align: center;
	width: 16%;
	z-index: 0;
}

#linkedinIcon, #upworkIcon{
	width: 30px;
	height: 30px;
	border: solid 2px black;
	padding: 3px;
	border-radius: 6px;
}

#githubCat {
	width: 30px;
	height: 30px;
	border: solid 2px black;
	padding: 3px;
	border-radius: 50%;
}

#linkedinIcon:hover, #upworkIcon:hover {
	border: solid 2px $borderButton;
    transition: 0.9s;
    border-radius: 6px;
    box-shadow: 4px 6px $borderButton;
    color: black;
}

#githubCat:hover {
	border: solid 2px $borderButton;
    transition: 0.9s;
    border-radius: 50%;
    box-shadow: 4px 6px $borderButton;
    color: black;
}

#arrowButton {
	cursor: pointer;
	background: none;
	font-size: 35px;
	color: rgb(0, 0, 0);
	font-family: 'JetBrains Mono', monospace;
	border: solid 2px black;
	padding: 1rem;
	border-radius: 6px;
	width: 200px;
}

#aboutmeButton, #contactButton {
   width: 200px;
   padding: 1rem;
   font-size: 35px;
   font-family: 'JetBrains Mono', monospace;
   color: rgb(0, 0, 0);
   background: none;
   cursor: pointer;
   text-align: center;
   border: solid 2px black;
   padding: 1rem;
   border-radius: 6px;
}

#aboutmeButton, #contactButton, #arrowButton {
	background-color: $backgroundRed;
}

#githubCat, #linkedinIcon, #upworkIcon {
	border: 2px solid $borderButton;
}


button:focus {
    outline-style : none;
}

@media only screen and (max-width: $small-width) {

	#linkList {
		display: inline-grid;
		grid-template-rows: 100px 60px 100px;
		position: fixed;
		background: $backgroundRed;
		border-right: solid 10px black;
		padding: 0px;
		height: 100%;
		text-align: center;
		width: 6rem;
		padding-top: 1rem;
		z-index: 0;
		grid-template-columns: auto;
		justify-items: center;
		align-items: center;
		transition: 0.9s;
	}
	
	ul {
		width: 69px;
		
	}

	#aboutmeButton, #contactButton, #arrowButton {
		width: 69px;
		height: 69px;
		padding: 1rem;
		font-size: 10px;
		font-family: 'JetBrains Mono', monospace;
		background: none;
		cursor: pointer;
		text-align: center;
		border: solid 2px black;
		border-radius: 6px;
		grid-row-gap: 29px;
		z-index: 9;
	 }

	 #linkL {
		width: 7rem;
		display: inline-grid;
		justify-items: center;
		align-items: center;
		grid-template-columns: auto;
		position: fixed;
		justify-content: space-evenly;
		bottom: 0;
		grid-row-gap: 19px;
		margin-bottom: 9px;
	}
}

@media only screen and (max-height: $smaller-height) {
	#linkList {grid-template-rows: 50px 50px 50px; grid-row-gap: 50px; padding-top: 3rem;}
}

@media only screen and (max-height: $tooSmall) {
	#linkL {
		display: none;
	}
}