.checkboxClass {
    height: 60px;
    width: 50px;
    float: right;
    z-index: 100;
    margin-right: 9rem;
}

.darkMode:before {
    width: 100px;
    height: 100px;
    border: none;
    content: "";
    cursor: pointer;
    position: absolute;
    z-index: 100;
}

input[type=checkbox] {
    z-index: 100;
    width: 40px;
    height: 40px;
    border: solid 1px #999;
    border-radius: 6px;
    opacity: 0.0;
}

input:checked {
    all: unset;
    z-index: 100;
}

#moon {
    box-shadow: 30px 15px 0 0 #999;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
}

#moon:hover {
    box-shadow: 12px 15px 15px 0 #999;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    transition: 0.5;
}