$backgroundRed: rgb(250, 145, 145);
$turq: #51fcc0;
$small-width: 1420px;
$small-height: 600px;
$smaller-height: 530px;
$tooSmall: 469px;
$lightBlue: rgb(200, 242, 255);


$borderButton: black;

$backgroundColor: #eaf0f6;
