@import "_variables.scss";



// --- Outer --- 

.contact-container{
	margin-left: $page-indent-margin;
	width: $page-indent-size;
	height: 99vh;
	margin: 1vh inherit;
	background-color: $body;
	border-radius: 0.2rem;
}