@import "_variables.scss";

body {
    margin: 0;
    padding: 0;
    background-color: $background-colour-dark;
    overflow-x: hidden;
}

h6 {
  font-size: 49px;
}

h6 {
	font-size: 60px;
	margin: 30px;
}

h3 {
	font-size: 50px;
}

input, textarea {
	font-family: 'JetBrains Mono', monospace;
}

h1 {
	z-index: -2;
	margin: 0px;
}

h2 {
	margin: 0;
	float: left;
	font-family: 'JetBrains Mono', monospace;
	font-size: 90px;
	margin-left: 3rem;
}
