@import "_variables.scss";

.hire-me {
	margin-top: 0.6rem;
	margin-left: $page-indent-margin;
	width: $page-indent-size;
	height: 98vh;
	margin: 1vh inherit;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 2fr 1fr;
	background-color: $body;
	border-radius: 0.2rem;
	opacity: 85%;
}

.hire-me-text{
	margin-top: 9rem;
	width: 60%;
	margin-left: 10%;

}

.hire-me-pic {
	margin-top: 5rem;
	img {
		border-radius: 0.2rem;
		margin-right: 5rem;
		width: 80%;
		height: auto;
	}

}