@import "_variables.scss";


.side-bar {
	width: $page-margin;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: $sidenav-colour;

	

	.side-bar-buttons {
		display: grid;
		grid-auto-flow: row;
		height: 92vh;

		.side-bar-buttons-hover {
			color: $font-colour-button-hover;
			background-color: $sidenav-buttons-hover;
			box-sizing: border-box;
			border-left: 0.2rem solid $sidenav-buttons;
			border-right: 0.2rem solid $sidenav-buttons;
		}

		button {
			border: none;
			height: auto;
			width: 100%;
			background-color: $sidenav-buttons;
			color: $font-colour-button;
			border-radius: 0.2rem;

			&:hover {
				color: $font-colour-button-hover;
				background-color: $sidenav-buttons-hover;
				box-sizing: border-box;
				border-left: 0.2rem solid $sidenav-buttons;
				border-right: 0.2rem solid $sidenav-buttons;
			}
		}
	}


	

	.side-bar-socials {
		height: 8vh;
		display: grid;
		grid-auto-flow: column;

		a {

			height: 100%;
			width: 100%;
			border-radius: 0.2rem;
			background-color: $sidenav-buttons;

			&:hover {
				background-color: $sidenav-buttons-hover;

				img {
					filter: $font-colour-filter-hover;
				}
			}
	
	
			img {
				filter: $font-colour-filter;
				margin: 20%;
				width: 60%;
				height: auto;
			}
		}
	}


}