.footer-container {
  margin-left: 8.5%;
  width: 91%;
  height: 98vh;
  margin: 1vh inherit;
  background-color: #333635;
  border-radius: 0.2rem;
}

.footer-title {
  margin-left: 45%;
}

.footer-grid {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
}
.footer-grid p {
  margin-left: 45%;
}

.contact-container {
  margin-left: 8.5%;
  width: 91%;
  height: 99vh;
  margin: 1vh inherit;
  background-color: #333635;
  border-radius: 0.2rem;
}

.hire-me {
  margin-top: 0.6rem;
  margin-left: 8.5%;
  width: 91%;
  height: 98vh;
  margin: 1vh inherit;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 2fr 1fr;
  background-color: #333635;
  border-radius: 0.2rem;
  opacity: 85%;
}

.hire-me-text {
  margin-top: 9rem;
  width: 60%;
  margin-left: 10%;
}

.hire-me-pic {
  margin-top: 5rem;
}
.hire-me-pic img {
  border-radius: 0.2rem;
  margin-right: 5rem;
  width: 80%;
  height: auto;
}

.side-bar {
  width: 8%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #282b2a;
}
.side-bar .side-bar-buttons {
  display: grid;
  grid-auto-flow: row;
  height: 92vh;
}
.side-bar .side-bar-buttons .side-bar-buttons-hover {
  color: white;
  background-color: #333635;
  box-sizing: border-box;
  border-left: 0.2rem solid #282b2a;
  border-right: 0.2rem solid #282b2a;
}
.side-bar .side-bar-buttons button {
  border: none;
  height: auto;
  width: 100%;
  background-color: #282b2a;
  color: #c9d4d1;
  border-radius: 0.2rem;
}
.side-bar .side-bar-buttons button:hover {
  color: white;
  background-color: #333635;
  box-sizing: border-box;
  border-left: 0.2rem solid #282b2a;
  border-right: 0.2rem solid #282b2a;
}
.side-bar .side-bar-socials {
  height: 8vh;
  display: grid;
  grid-auto-flow: column;
}
.side-bar .side-bar-socials a {
  height: 100%;
  width: 100%;
  border-radius: 0.2rem;
  background-color: #282b2a;
}
.side-bar .side-bar-socials a:hover {
  background-color: #333635;
}
.side-bar .side-bar-socials a:hover img {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(144deg) brightness(110%) contrast(105%);
}
.side-bar .side-bar-socials a img {
  filter: invert(92%) sepia(9%) saturate(161%) hue-rotate(113deg) brightness(91%) contrast(90%);
  margin: 20%;
  width: 60%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #404444;
  overflow-x: hidden;
}

h6 {
  font-size: 49px;
}

h6 {
  font-size: 60px;
  margin: 30px;
}

h3 {
  font-size: 50px;
}

input, textarea {
  font-family: "JetBrains Mono", monospace;
}

h1 {
  z-index: -2;
  margin: 0px;
}

h2 {
  margin: 0;
  float: left;
  font-family: "JetBrains Mono", monospace;
  font-size: 90px;
  margin-left: 3rem;
}

.portfolio {
  margin-top: 0.6rem;
  height: 100%;
  width: 91%;
  margin-left: 8.5%;
  height: auto;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.6rem;
}
.portfolio img {
  opacity: 95%;
  height: 29.3rem;
  width: 100%;
  background-color: #c9d4d1;
  border-radius: 0.2rem;
}
.portfolio img:hover {
  opacity: 88%;
}

/*# sourceMappingURL=Styles.css.map */
